@model UserSettingsViewModel
@inject IViewLocalizer _localizer

<h2>@_localizer[UserSettingsStrings.SETT_V_CAPTION_INDEX]</h2>

<p>@_localizer[UserSettingsStrings.SETT_V_INFO]</p>

<h3>@_localizer[UserSettingsStrings.SETT_V_CAPTION_CHANGE_PASSWORD]</h3>
<form asp-controller="UserSettings" asp-action="SavePassword" method="post" class="form-horizontal" role="form">
    @Html.AntiForgeryToken()
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="OldPassword" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="OldPassword" class="form-control" />
            <span asp-validation-for="OldPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="NewPassword" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="NewPassword" class="form-control" />
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="NewPasswordConfirmation" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="NewPasswordConfirmation" class="form-control" />
            <span asp-validation-for="NewPasswordConfirmation" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-primary" value="@_localizer[UserSettingsStrings.SETT_V_BUTTON_SAVE]" />
        </div>
    </div>
</form>

@if(User.IsInRole(RoleNames.ROLE_ADMIN))
{
<h3>@_localizer[UserSettingsStrings.SETT_V_CAPTION_NOTIFICATIONS]</h3>
<form asp-controller="UserSettings" asp-action="SaveNotificationConfiguration" method="post" class="form-horizontal" role="form">
    @Html.AntiForgeryToken()
    <hr />

    <input asp-for="NotificationConfiguration.NewUserRegistered" />
    <label asp-for="NotificationConfiguration.NewUserRegistered"></label>
    <br />

    <input asp-for="NotificationConfiguration.UserParticipationUpdated" />
    <label asp-for="NotificationConfiguration.UserParticipationUpdated"></label>
    <br />

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-primary" value="@_localizer[UserSettingsStrings.SETT_V_BUTTON_SAVE]" />
        </div>
    </div>
</form>
}