@model EventDeleteViewModel
@inject IViewLocalizer _localizer

<h2>@Model.Caption</h2>

<form asp-action="Delete" method="post" role="form">
    <p>
        @_localizer[EventStrings.EV_DELETE_CONFIRMATION_TEXT] '@Model.SelectedEvent.Designation' ?
        @if (Model.UserParticipationCount == 0)
        {
            <span>@_localizer[EventStrings.EV_DELETE_NO_PARTICIPATIONS]</span>
        }
        else
        {
            <span>@Model.UserParticipationCount @_localizer[EventStrings.EV_DELETE_PARTICIPATIONS]</span>
        }
    </p>
    <div class="form-group">
        <div class="col-md-5">
            <a class="btn btn-primary"
               role="button"
               asp-controller="Event"
               asp-action="Administrate">@_localizer[EventStrings.EV_DELETE_CANCEL]</a>
            <input type="submit" class="btn btn-danger" value="@_localizer[EventStrings.EV_DELETE_CONFIRM]" />
        </div>
    </div>
</form>