@model EventListViewModel

<h2>Vergangene Events</h2>

<p>Deine Teams: @String.Join(",", @Model.TeamNames)</p>

@if (Model.Events.Count() > 0)
{
    <div class="container-fluid">
        <div class="row">
            <table class="table table-bordred table-striped">
                <thead>
                    <tr>
                        <th>Bezeichnung</th>
                        <th>Ort</th>
                        <th>Start</th>
                        <th>Treffpunkt</th>
                </thead>
                <tbody>
                    @foreach (var item in Model.Events)
                    {
                        <tr>
                            <td>@item.Designation</td>
                            <td>@item.Location</td>
                            <td>@item.Start</td>
                            <td>@item.MeetingLocation (@item.MeetingTime)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
else
{
    <p>Keine Einträge vorhanden</p>
}