@model EventParticipateViewModel
@inject IViewLocalizer _localizer

<h2>@Model.CurrentEvent.Designation</h2>
<form asp-action="Participate" asp-controller="Event">
    <div class="col-md-10 form-group">

        <!-- Event Information -->
        <p>
            @Model.CurrentEvent.Description
        </p>
        <p>@_localizer[EventStrings.EV_TIME_FROM] @Model.CurrentEvent.Start @_localizer[EventStrings.EV_TIME_UNTIL] @Model.CurrentEvent.End</p>
        <p>@_localizer[EventStrings.EV_MEETINGPOINT]: @Model.CurrentEvent.MeetingLocation, @Model.CurrentEvent.MeetingTime</p>
        <p>
            @if (Model.CurrentEvent.PlayersRequired > 0)
            {
                <span>@_localizer[EventStrings.EV_PLAYERS_REQUIRED]: @Model.CurrentEvent.PlayersRequired</span><br />
            }

            @if (@Model.CurrentEvent.CoachesRequired > 0)
            {
                <span>@_localizer[EventStrings.EV_COACHES_REQUIRED]: @Model.CurrentEvent.CoachesRequired</span><br />
            }

            @if (Model.CurrentEvent.UmpiresRequired > 0)
            {
                <span>@_localizer[EventStrings.EV_UMPIRES_REQUIRED]: @Model.CurrentEvent.UmpiresRequired</span><br />
            }

            @if (@Model.CurrentEvent.ScorersRequired > 0)
            {
                <span>@_localizer[EventStrings.EV_SCORERS_REQUIRED]: @Model.CurrentEvent.ScorersRequired</span>
            }

        </p>

        <h4>@_localizer[EventStrings.EV_EDIT_PARTICIPATION]</h4>

        @Html.RadioButtonFor(x => x.ParticipationType, ParticipationTypesEnum.yes) @_localizer[EventStrings.EV_PARTICIPATE_YES]
        <br />
        @Html.RadioButtonFor(x => x.ParticipationType, ParticipationTypesEnum.no) @_localizer[EventStrings.EV_PARTICIPATE_NO]
        <br />
        @Html.RadioButtonFor(x => x.ParticipationType, ParticipationTypesEnum.maybe) @_localizer[EventStrings.EV_PARTICIPATE_MAYBE]
        <br />
        <br />

        @if (Model.DisplayIsPlayer)
        {
            <input asp-for="IsPlayer" />
            <label asp-for="IsPlayer"></label>
            <br />
        }

        @if (Model.DisplayIsCoach)
        {
            <input asp-for="IsCoach" />
            <label asp-for="IsCoach"></label>
            <br />
        }

        @if (Model.DisplayIsUmpire)
        {
            <input asp-for="IsUmpire" />
            <label asp-for="IsUmpire"></label>
            <br />
        }

        @if (Model.DisplayIsScorer)
        {
            <input asp-for="IsScorer" />
            <label asp-for="IsScorer"></label>
            <br />
        }

        @if (Model.DisplayHasSeats)
        {
            <label asp-for="HasSeats" class="col-md-2 control-label"></label>
            <div class="col-md-5">
                <input asp-for="HasSeats" class="form-control" />
                <span asp-validation-for="HasSeats" class="text-danger"></span>
            </div>
        }

        <!-- Bemerkung -->
        <label asp-for="Note" class="control-label"></label>
        <textarea rows="5" asp-for="Note" class="form-control"></textarea>
        <span asp-validation-for="Note" class="text-danger"></span>

    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-5">
            <input type="submit" class="btn btn-primary" value="@_localizer[EventStrings.EV_SAVE]" />
        </div>
    </div>
</form>

