@model EventParticipationViewModel
@inject IViewLocalizer _localizer

<h2>@_localizer[EventStrings.EV_PARTICIPATIONS] - @Model.EventDesignation</h2>

@if (Model.EventParticipations.Count() > 0)
{
    <div class="container-fluid">
        <div class="row">
            <table class="table table-bordred table-striped">
                <thead>
                    <tr>
                        <th>@_localizer[EventStrings.EV_CAPTION_NAME]</th>
                        <th class="text-center">@_localizer[EventStrings.EV_CAPTION_STATUS]</th>
                        <th>@_localizer[EventStrings.EV_CAPTION_NOTE]</th>
                        @if (Model.DisplayIsPlayer)
                        {
                        <th class="text-center">@_localizer[EventStrings.EV_CAPTION_NOTE]</th>
                        }

                        @if (Model.DisplayIsCoach)
                        {
                        <th class="text-center">@_localizer[EventStrings.EV_CAPTION_COACH]</th>
                        }

                        @if (Model.DisplayIsUmpire)
                        {
                        <th class="text-center">@_localizer[EventStrings.EV_CAPTION_UMPIRE]</th>
                        }

                        @if (Model.DisplayIsScorer)
                        {
                        <th class="text-center">@_localizer[EventStrings.EV_CAPTION_SCORER]</th>
                        }

                        @if (Model.DisplayHasSeats)
                        {
                        <th class="text-center">@_localizer[EventStrings.EV_CAPTION_SEATS]</th>
                        }
                </thead>
                <tbody>
                    @foreach (var item in Model.EventParticipations)
                    {
                    <tr>
                        <td>@item.Username</td>
                        <td class="text-center">@(item.AnswerYes ? Symbols.Checkmark : Symbols.Cross)</td>
                        <td>@item.Note</td>
                        @if (Model.DisplayIsPlayer)
                        {
                        <th class="text-center">@(item.IsPlayer ? Symbols.Checkmark : Symbols.Cross)</th>
                        }

                        @if (Model.DisplayIsCoach)
                        {
                            <th class="text-center">@(item.IsCoach ? Symbols.Checkmark : Symbols.Cross)</th>
                        }

                        @if (Model.DisplayIsUmpire)
                        {
                            <th class="text-center">@(item.IsUmpire ? Symbols.Checkmark : Symbols.Cross)</th>
                        }

                        @if (Model.DisplayIsScorer)
                        {
                            <th class="text-center">@(item.IsScorer ? Symbols.Checkmark : Symbols.Cross)</th>
                        }

                        @if (Model.DisplayHasSeats)
                        {
                            <th class="text-center">@item.Seats</th>
                        }
                    </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td></td>
                        <td class="text-center">@Model.SumParticipations</td>
                        <td></td>
                        @if (Model.DisplayIsPlayer)
                        {
                            <td class="text-center">@Model.SumPlayers / @Model.RequiredPlayers</td>
                        }

                        @if (Model.DisplayIsCoach)
                        {
                            <td class="text-center">@Model.SumCoaches / @Model.RequiredCoaches</td>
                        }

                        @if (Model.DisplayIsUmpire)
                        {
                            <td class="text-center">@Model.SumUmpires / @Model.RequiredUmpires</td>
                        }

                        @if (Model.DisplayIsScorer)
                        {
                            <td class="text-center">@Model.SumScorer / @Model.RequiredScorer</td>
                        }

                        @if (Model.DisplayHasSeats)
                        {
                            <td class="text-center">@Model.SumSeats / @Model.RequiredScorer</td>
                        }
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
}
else
{
    <p>@_localizer[EventStrings.EV_NO_ENTRIES_AVAILABLE]</p>
}

