@model EventListViewModel
@inject IViewLocalizer _localizer

<h2>@_localizer[EventStrings.EV_CAPTION_UNREAD]</h2>

<p>@_localizer[EventStrings.EV_YOUR_TEAMS]: @String.Join(",", @Model.TeamNames)</p>

@if (Model.Events.Count() > 0)
{
    <div class="container-fluid">
        <div class="row">
            <table class="table table-bordred table-striped">
                <thead>
                    <tr>
                        <th>@_localizer[EventStrings.EV_CAPTION_DESIGNATION]</th>
                        <th>@_localizer[EventStrings.EV_CAPTION_LOCATION]</th>
                        <th>@_localizer[EventStrings.EV_CAPTION_START]</th>
                        <th>@_localizer[EventStrings.EV_CAPTION_MEETINGPOINT]</th>
                </thead>
                <tbody>
                    @foreach (var item in Model.Events)
                    {
                        <tr>
                            <td>
                                <a asp-controller="Event"
                                   asp-action="Participate"
                                   asp-route-id="@item.Id">@item.Designation</a>
                            </td>
                            <td>@item.Location</td>
                            <td>@item.Start</td>
                            <td>@item.MeetingLocation (@item.MeetingTime)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
else
{
    <p>
        @_localizer[EventStrings.EV_NO_ENTRIES_AVAILABLE]
    </p>
}