@model TeamDeleteViewModel
@inject IViewLocalizer _localizer

<h2>@_localizer[TeamStrings.TM_CAPTION_DELETE]</h2>

<form asp-action="Delete" method="post" role="form">
    <p>
        @_localizer[TeamStrings.TM_DELETE_CONFIRM] - '@Model.Team.Designation'
        @if (Model.TeamAssociationCount == 0)
        {
            <span>@_localizer[TeamStrings.TM_MEMBERS_NONE]</span>
        }
        else
        {
            <span>@_localizer[TeamStrings.TM_MEMBERS_COUNT]: @Model.TeamAssociationCount</span>
        }
    </p>
    <div class="form-group">
        <div class="col-md-5">
            <a class="btn btn-primary"
               role="button"
               asp-controller="Team"
               asp-action="Index">@_localizer[TeamStrings.TM_BUTTON_NO]</a>
            <input type="submit" class="btn btn-danger" value="@_localizer[TeamStrings.TM_BUTTON_YES]" />
        </div>
    </div>
</form>