@model News
@inject IViewLocalizer _localizer

<h2>@_localizer[NewsStrings.NS_CAPTION_DELETE]</h2>

<form asp-action="Delete" method="post" role="form">
    <p>
        @_localizer[NewsStrings.NS_DELETE_CONFIRM]
    </p>
    <p>
        @Model.Content
    </p>
    <div class="form-group">
        <div class="col-md-5">
            <a class="btn btn-primary"
               role="button"
               asp-controller="News"
               asp-action="Index">@_localizer[NewsStrings.NS_BUTTON_NO]</a>
            <input type="submit" class="btn btn-danger" value="@_localizer[NewsStrings.NS_BUTTON_YES]" />
        </div>
    </div>
</form>