@model UserEditViewModel
@inject IViewLocalizer _localizer

<h2>@_localizer[UserStrings.US_CAPTION_EDIT]</h2>
<form asp-action="Edit" method="post" role="form">
    @Html.AntiForgeryToken()
    <div class="form-group">
        <p>@_localizer[UserStrings.US_INFO_USERNAME]: @Model.CurrentUser.UserName</p>
        <p>@_localizer[UserStrings.US_INFO_EMAIL]: @Model.CurrentUser.Email</p>

        <h3>@_localizer[UserStrings.US_CAPTION_TEAMS]</h3>
        <div class="pre-scrollable border border-primary padding">
            @for (int i = 0; i < Model.AllTeams.Count(); i++)
            {
                <input asp-for="@Model.AllTeams[i].Selected" />
                <label asp-for="@Model.AllTeams[i].Designation">@Model.AllTeams[i].Designation</label>
                @Html.HiddenFor(m => m.AllTeams[i].Designation);
                @Html.HiddenFor(m => m.AllTeams[i].Created);
                @Html.HiddenFor(m => m.AllTeams[i].Modified);
                @Html.HiddenFor(m => m.AllTeams[i].Id);
                <br />
            }
        </div>

        <h3>@_localizer[UserStrings.US_CAPTION_ROLES]</h3>
        <label><input asp-for="IsAdmin" />&nbsp;@_localizer[UserStrings.US_IS_ADMIN]</label>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-5">
            <input type="submit" class="btn btn-primary" value="@_localizer[UserStrings.US_BUTTON_SAVE]" />
        </div>
    </div>
</form>

