@model UserIndexViewModel
@inject IViewLocalizer _localizer

<h2>@_localizer[UserStrings.US_CAPTION_INDEX]</h2>

@if (Model.Users.Count() > 0)
{
    <div class="container-fluid">
        <div class="row">
            <table class="table table-bordred table-striped">
                <thead>
                    <tr>
                        <th>@_localizer[UserStrings.US_CAPTION_COL_USERNAME]</th>
                        <th>@_localizer[UserStrings.US_CAPTION_COL_EMAIL]</th>
                        <th>@_localizer[UserStrings.US_CAPTION_COL_REGISTERED]</th>
                        <th></th>
                        <th></th>
                </thead>
                <tbody>
                    @foreach (var user in Model.Users)
                    {
                        <tr>
                            <td>
                                <a asp-controller="User"
                                   asp-action="Edit"
                                   asp-route-id="@user.UserId">@user.UserName</a>
                            </td>
                            <td>@user.Email</td>
                            <td>@user.Registered</td>
                            <td>
                                <a asp-controller="User"
                                   asp-action="Edit"
                                   asp-route-id="@user.UserId"><i class="fas fa-pencil-alt"></i></a>
                            </td>
                            <td>
                                <a asp-controller="User"
                                   asp-action="Delete"
                                   asp-route-id="@user.UserId"><i class="fas fa-trash-alt"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
else
{
    <p>@_localizer[UserStrings.US_NO_ENTRIES]</p>
}